{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

<div class="book-menu-content">
  <nav>
    <ul>
      <li><b><a href="/">Home</a></b></li>
      <li><b><a href="/tags">Tags</a></b></li>
      <li><b><a href="/about">About</a></b></li>
      <li><b><a href="/follow">Follow Me</a></b></li>
    </ul>
  </nav>
</div>